body {
  font-family: sans-serif;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 60px;
  background: linear-gradient(to top, #d6ede9 0%, #f5efef 100%);
  border-radius: 6px;
}
h1 {
  color: grey;
}
li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
